<nav class="navbar navbar-expand-lg navbar-dark bg-dark-blue">
  <div class="container-fluid">
    <a class="navbar-brand">Pension Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <div *ngIf="isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link active" routerLink="home" aria-current="page" href="#"><i
                class="fas fa-home">&nbsp;</i>Home</a>
          </li>
        </div>
        <div *ngIf="isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link" routerLink="pension-details" href="#">Pension Details</a>
          </li>
        </div>
        <div *ngIf="isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link" routerLink="process-pension" href="#">Process Pension</a>
          </li>
        </div>
        <div *ngIf="isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" href="#"><i class="fas fa-sign-out-alt">&nbsp;</i>Logout</a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav> <!-- End of header navbar  -->

<div class="container mt-3">
  <!-- All the component routed data goes here -->
  <router-outlet></router-outlet>
</div>
<div class="mb-5"></div>

<footer class="fixed-bottom bg-dark-blue">
  <div class="container">
    <p class="text-center text-white"><b>Site maintained by POD-4 &copy;2021</b></p>
  </div>
</footer>