<div class="display-4 text-center"><strong>Welcome to the Pension Management System Portal</strong></div>
<div class="row mt-3">
    <div class="col-sm-6 offset-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">User Login</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" routerLink="../login" class="btn bg-dark-blue">Head To Login Page <i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
</div>